.login-link {
	color: #ffff;
}

.login-link:hover {
	color: #659A5C;
}

.paginate-links {
	margin: 0;
	padding: 0;
	color: black;
	text-decoration: none;
}

.paginate-links:hover {
	text-decoration: none;
	color: #fff;
}

.paginate-links:active {
	text-decoration: none;
	color: #fff;
}

.pagination{
	background-color: #e8e9e7;
	width: 550px;
	max-width: 100%;
	text-align: center;
	margin: auto;
	border-radius: 20px;

}
.pagination .dot-mobile{
	display: none;
}

.pagination_num{
	text-align: center;
	width: 100%;
}

.pagination .button:hover{
	background-color: #8eb044cf;
	color: #fff;
}

.pagination .button:hover a{
	color: #fff;
}

.pagination button{
	padding: 10px 20px;
	background-color: unset;
	border: unset;
	font-weight: 700;
	color: rgba(0,0,0,0.7);
}

.navbar{
	border-bottom: 2px solid rgba(0,0,0,0.2);
}
.navbar-brand{
	font-size: 30px;
}
.mobile_navbar{
	background-color: #8eb044cf;
	position: fixed;
	top: 0;
	right: 0;
	width: 20rem;
	height: 100%;
	z-index: 1000;
	padding: 2rem 2rem;
	transform: translateX(100%);
	transition: .3s;
}

.mobile_navbar_show{
	transform: translateX(0);
}

.arrow{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	background-color: #8eb044cf;
	padding: .5rem 1rem;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.arrow .fa-chevron-right{
	display: none;
}
.arrow .fa-chevron-right-show{
	display: block;
}
.arrow .fa-chevron-left-show{
	display: none;
}
.dropdown_menu{
	height: 0;
	overflow: hidden;
	transition: .3s;
}

.dropdown_menu_show{
	height: 50px;
}

.dropdown_menu li{
	list-style: none;
}

.mobile{
	display: none;
}

a{
  text-decoration: none;
}

.text-info {
    color: #31708f;
}

.physicianList ul{margin: 0; padding: 0; list-style: none;}
.physicianBox{
	color: #333;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.physicianBox .physicianPic {
	padding: 15px 0;
	background-color: #fff;
    text-align: center;
}

.physicianBox .physicianPic img{
	border: 6px solid #f8f8f8;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    height: 120px;
    width: 120px;
}

.physicianInfo{
	padding: 10px;
	text-align: center;
	border-top: 1px solid #eee;
}

.physicianInfo h6{
	font-size: 16px; 
	margin:0;
}

.physicianBox strong{
	color: #444;
}

.physicianBox p{
	font-size: 13px; 
	margin: 0; 
	line-height: 22px;
}

.physicianBio{
	position:absolute; 
	right: 0; 
	bottom: 3px;
}

.physicianModal{
	text-align: center;
}

.physicianModal .physicianPic img{
    border: 6px solid #f8f8f8;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    height: 180px;
    width: 180px;
}

.physicianModal .info p, .physicianModal .info .text-info{
	margin: 0;
}

.showBioBtn{
	background-color: #337ab7; 
	padding: 5px 10px; 
	color: #fff; 
	font-size: 12px;
}

.active_page{
	background:#8eb045;
	color:white !important;
}

.landslide_button_mobile{
	display: none;
}
.btn_footer{
	background-color: #537e4c;
	color: #fff;
	text-decoration: none;
	border: unset;
	border-radius: 5px;
	padding: 0px 5px;
	position: absolute;
	bottom: 5px;
	left: 5px;
}
@media screen and (max-width: 991px){
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
	.arrow{
		left: -41px;
	}
	.navbar-brand{
		font-size: 20px;
	}
}

@media screen and (max-width: 768px){
	.home_content_position p{
		display: none;
	}
	.landslide_button_desktop{
		display: none;
	}
	.landslide_button_mobile{
		display: block;
	}
	.pagination button{
		padding: 8px 15px;
	}
	.pagination .dot-mobile{
		display: unset;
	}
	.three,.four,.five,.dot-desktop{
		display: none;
	}
	.pagination{
		width: 350px;
	}

	.header-mobile {
		font-size: .8rem;
	}

	.mobile-login-text {
		font-size: .7rem;
	}

	/*Experimental*/
/*	.mobile-card {
		height: 30rem;
	}

	.mobile-container {
		height: 28rem;
		object-fit: cover;
		height: 400px;
	}

	#map {
		width: 100%;
		height: 100%;
	}
*/

}