<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>Hello World!</h1>

</body>

<!-- 	{% for item in histories %}
		<h2>{{item.barangay_name}}</h2>
		<img src="{{item.barangay_img.url}}">
		<p>{{item.barangay_info}}</p>
	{% endfor %}
 -->


	{% for hazard in geohazards %}
		<img src="{{hazard.history.barangay_img.url}}">
		<p>{{hazard.history.barangay_info}}</p>

		<img src="{{hazard.geohazard_img.url}}">
		<p>{{hazard.geohazard_info}}</p>
		
	{% endfor %}





{% if is_paginated %}
	{% if page_obj.has_previous %}
		<button><a href="?page={{page_obj.previous_page_number}}">Previous</a></button>
	{% endif %}

	<button><a href="?page=1">1</a></button>
	<button><a href="?page=2">2</a></button>
	<button><a href="?page=3">3</a></button>
	<button><a href="?page=4">4</a></button>
	<button><a href="?page=5">5</a></button>
	<button><a href="?page=6">6</a></button>

	{% if page_obj.has_next %}
		<button><a href="?page={{page_obj.next_page_number}}">Next</a></button>
	{% endif %}

{% endif %}
	

</html>

