{% extends 'flood/base.html' %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>
	{% block map %}
		{{flood_map | safe}}
	{% endblock map %}

	{% block header %} 
		<p class="unique-title">FLOOD</p>
	{% endblock header %}
	
	{% block title %} 
		<p class="unique-title">FLOOD</p>
	{% endblock title %}

	{% block guidelines %}
		{% for guide in guidelines %}
			{% autoescape off %}
				<h5>{{guide.alert_level_guide}}</h5>
			{% endautoescape %}
		{% endfor %}
	{% endblock guidelines %}
</body>
</html>

